* { margin: 0; padding: 0; }

li { list-style: none; }

body { font-family: "Poppins"; font-size: 1px; }

#game h1 { font-size: 24px; font-weight: 300; text-align: center; margin: 100px; }

#game #computer ul li { display: -webkit-box; display: -ms-flexbox; display: flex; }

#game #human { margin-top: 100px; }

#game #human ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#game #human ul li { margin: 0 10px; }

#game #human ul li ung { width: 100px; }
